/*
   
    Template Name : DevBlog - Personal Blog Template
    Author : UiPasta Team
    Website : https://www.uipasta.com/
    Support : https://www.uipasta.com/contact-us/
	
	
*/



/*
   
   Table Of Content
   
   1. Global Style
   2. Preloader
   3. Menu
   4. About Me (Left Sidebar)
   5. About Me Page
   6. My Portfolio
   7. Owl Carousel Navigation
   8. Contact Me
   9. Testimonials
  10. Blog Post & Single Blog Page
  11. Video Tutorials
  12. Blockquote
  13. List
  14. Image Popup
  15. End Box (Popup When Scroll Down)
  16. About Author Box
  17. You May Also Like
  18. Comment
  19. Load More Button
  20. Subscribe Form
  21. Footer
  22. Socials Icons
  23. Syntax Highlighter
  24. Scroll To Top
  25. Responsive
  26. Useful Classes ( Such as : Margin, Padding, colors  "This classes will be helpful for you during designing/development time.")
  27. UiPasta Credit
 

*/



/* Global Style */




/*  ini yang ku tambah*/

body {
    font-family: "Poppins", sans-serif;
    background: #fafafa !important;
}
	
html {
    position: relative;
    min-height: 100%;
}

::selection {
    background-color: #1abc9c;
    color: #ffffff;
}

::-moz-selection {
    background-color: #1abc9c;
    color: #ffffff;
}

a {
    text-decoration: none !important;
    color: #1abc9c;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #333333;
}

b {
    font-weight: 600;
    color: #333333;
}
strong{
    font-size: 14px
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

button {
    background-color: transparent;
}

*:focus {
    outline: 0;
}

#main {
    margin: 50px 0;
}

.main-color {
    color: #1abc9c;
}

.page-body {
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

.sub-title {
    padding: 30px;
}

.sub-title h1 {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;

}

.sub-title i {
    float: right;
    font-size: 35px;
    margin-top: 15px;
}

.content-page {
    padding-top: 30px;
    padding-bottom: 60px;
    border-top: 1px dashed #dedede;
    border-bottom: 1px dashed #dedede;
}

.grabbing {
    cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.button {
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 60px;
    padding-left: 0px;
    display: inline-block;
    margin: 8px 30px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
   -webkit-font-smoothing: antialiased;
}

.button-style {
    color: #1abc9c;
    overflow: hidden;
}

.button-style:before {
    position: absolute;
    font-size: 27px;
    line-height: 38px;
    color: #1abc9c;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style:active:before {
    color: #1abc9c;
}

.button-anim:before {
    left: 60%;
    opacity: 0;
    top: 0;
}

.button-anim:hover:before {
    left: 75%;
    opacity: 1;
}



/* Preloader */

.preloader {
    background: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.rounder {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    font-size: 10px;
    border-right: 5px solid #333333;
    border-left: 5px solid #1abc9c;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Menu */

.menu {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
    color: #fff;
    background: #1abc9c;
    padding: 12px;
}

.menu-link {
    list-style: none;
    padding: 25px;
    margin: 0;
    text-align: center;
}

.menu-link:before,
.menu-link:after {
    content: " ";
    display: table;
}

.menu-link:after {
    clear: both;
}

.menu-link li {
    display: inline-block;
    margin: 2px 4px;
}

.menu-link li a {
    display: block;
    color: #333333;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.menu-link li a:hover {
    color: #1abc9c;
}



/* About Me (Left Sidebar) */	

.about-fixed {
    position: fixed;
}

.my-pic {
    width: 100%;
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

.my-pic img {
    width: 100%;
}

.my-detail {
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

.my-detail .white-spacing {
    padding: 23px 0;
    border-bottom: 1px dashed #cccccc;
}

.my-detail span {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.my-detail .my-sub-title {
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}



/* About Me Page */

.knowledge {
    list-style: none;
    padding: 2px;
    margin: 0;
    padding-left: 0px;
}

.knowledge:before,
.knowledge:after {
    content: " ";
    display: table;
}

.knowledge:after {
    clear: both;
}

.knowledge li {
    display: inline-block;
    color: #ffffff;
    margin: 4px 4px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-left: 0px;
    border-radius: 4px;
    cursor: default;
}



/* My Portfolio */

div.portfolio {
    display: none;
    margin-bottom: 50px;
}

.portfolio img {
    width: 100%;
}

.custom-pad-1 {
    padding-right: 0px;
}

.custom-pad-2 {
    padding-left: 0px;
}

.table {
    margin-bottom: 0px;
    
}

.table > tbody > tr > td {
    padding: 15px;
    line-height: 25px;
    letter-spacing: 0.6px;
    border: 1px solid #e4e4e4;
    
}

.table tr > td {
    padding: 11px 13px;
}

tr:nth-child(1) > td {
    border-top:0px;
}

tr > td:nth-child(1){
    background-color: #ffffff;
    font-weight: 500;
    /* font-size: 13px; */
    color: #070707;
    width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

tr > td:nth-child(2) {
    font-weight: 400;
}



/* Owl Carousel Navigation */

.owl-navi {
    color: #333333;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    margin: 5px;
    margin-top: -32px;
    padding: 7px 13px;
    background-color: transparent;
    opacity: 1;
}

.owl-theme .owl-controls {
    margin-top: 0px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    padding: 5px;
    margin: 0;
    z-index: 100;
    cursor: pointer;
}

.owl-prev {
    left: 2px;
}

.owl-next {
    right: 2px;
}



/* Contact Me */

.contact-us-detail {
    margin-top: 10px;
}

.contact-us-detail i {
    font-size: 30px;
    line-height: 50px;
}

.contact-us-detail a {
    color: #333333;
}

.contact-us-detail a:hover {
    color: #333333;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
	border: 2px solid transparent;
	height: 50px;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	   -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		 -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition:all 150ms ease-in-out 0s;
	   -moz-transition:all 150ms ease-in-out 0s;
	    -ms-transition:all 150ms ease-in-out 0s;
	     -o-transition:all 150ms ease-in-out 0s;
		    transition:all 150ms ease-in-out 0s;
}
.form-control:focus {
	border-color: #171717;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
		 -o-box-shadow: none;
			box-shadow: none;
}

.form-control:focus {
    border-color: #1abc9c;
    border-width: 2px;
}



/* Testimonials */

.testimonial-content {
    background: #333333;
    padding: 20px 30px;
    position: relative;
    margin-top: 40px;
}

.testimonial-content:after {
    content: "";
    bottom: -15px;
    left: 60px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.testimonial-content p {
    color: #ffffff !important;
    font-size: 13px !important;
}

.testimonial-client img {
    border: 1px dashed #333333;
    border-radius: 50%;
    width: 90px;
}

.client-thumb, .client-text {
    display: inline-block;
    vertical-align: middle;
}

.client-thumb {
    margin-right: 15px;
}

.testimonial-client-info {
    padding-left: 30px;
    margin-top: 30px;
}

.client-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}



/* Blog Post & Single Blog Page */

div.blog-post {
    display: none;
    margin-bottom: 50px;
}

.blog-post .post-image img {
    width: 100%;
}

.blog-post .post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.blog-post .post-image a {
    font-weight: 600;
}

.blog-post .post-title h2 {
    color: #333333;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 24px;
}

.blog-post .post-title h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.blog-post .post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c8c8c;
}

.blog-post p {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}



/* Video Tutorial */

.video-box {
    background: #333333;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0px 7px 13px 0px rgba(2, 2, 2, 0.56);
}

.video-tutorial {
    position: relative;
}

.video-tutorial .video-popup:after {
    content: '\e071';
    font-family: 'simple-line-icons';
    display: block;
    color: #1abc9c;
    font-size: 65px;
    font-weight: 600;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: .9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.video-tutorial:hover .video-popup:after {
    font-size: 85px;
    opacity: .8;
}

.video-tutorial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    user-drag: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -moz-user-select: none;
}

.video-box p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    padding: 0px 15px;
}



/* Blockquote */

.post-quote {
    background: #1abc9c;
    color: #f6f8f8;
    width: 70%;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
}

.post-quote blockquote {
    margin: 0;
    padding: 40px;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
    border: 0;
}

.post-quote blockquote:after {
    content: '\f10e';
    font-family: 'fontawesome';
    display: inline-block;
    float: right;
    color: #333333;
    font-size: 35px;
    position: relative;
    right: 0px;
    top: -15px;
    font-style: normal;
    opacity: .2;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #1abc9c;
}



/* List */

.list ul {
    margin-top: 15px;
}

.list li {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
}

.list-style li {
    list-style-type: decimal;
}

.list-style-2 li {
    list-style-type: circle;
}



/* Image Popup */

.image-popup {
    cursor: cell;
}



/* End Box (Popup When Scroll Down) */

.endpage-box {
    position: fixed;
    bottom: 20px;
    right: 0px;
    left: 145px;
    background: #ffffff;
    width: 263px;
    padding: 25px;
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
   -webkit-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    
}

.endpage-box h4 {
    color: #333333;
    font-weight: 600;
}

.endpage-box a {
    color: #333333;
}

.endpage-box a:hover {
    color: #1abc9c;
}

#endpage-box {
    display: none !important;
}



/* About Author Box */

.about-author {
    background: #fafafa;
    width: 100%;
    padding: 35px 25px;
    box-shadow: 0px 1px 2px 0px rgba(78, 78, 78, 0.45);
}

.about-author .picture {
    float: left;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #333333;
}

.about-author .c-padding {
    padding: 0px 0px 0px 100px;
}

.about-author h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
}



/* You May Also Like */

.you-may-also-like {
}

.you-may-also-like h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #1abc9c;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

.you-may-also-like p {
    font-size: 18px;
    line-height: 28px;
    padding: 20px;
    border-radius: 4px;
    border: 1px dashed #1abc9c;
    font-weight: 400;
}
	



/* Comment */

.comment {
}

.comment h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #1abc9c;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
}



/* Load More Button */

.load-more-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px dashed #1abc9c;
    line-height: 90px;
    display: block;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.load-more-button:hover {
    background-color: #1abc9c;
    color: #ffffff;
    box-shadow: 0px 7px 9px #696969;
}

.end {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px dashed #1abc9c;
    line-height: 90px;
    display: block;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-weight: 500;
}



/* Subscribe Form */

#mc-form {
	text-align: center;
	padding: 50px;
}

.mc-label {
	font-weight: 400;
}

.subscribe-form {
	margin-bottom: 15px;
	position: relative;
}

.subscribe-form .text-input {
	padding: 20px;
	border-radius: 50px;
	border: solid 7px #1abc9c;
	background: #333333;
	color: #ffffff;
	width: 100%;
	font-size: 15px;
	outline: none;
}

.subscribe-form .text-input::-webkit-input-placeholder {
	color: #ffffff;
	opacity: 1;
}

.subscribe-form .text-input:-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

.subscribe-form .text-input::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

.subscribe-form .text-input:-ms-input-placeholder {
	color: #ffffff;
	opacity: 1;
}

.subscribe-form .text-input:focus::-webkit-input-placeholder {
	opacity: .5;
}

.subscribe-form .text-input:focus:-moz-input-placeholder {
	opacity: .5;
}

.subscribe-form .text-input:focus::-moz-input-placeholder {
	opacity: .5;
}

.subscribe-form .text-input:focus:-ms-input-placeholder {
	opacity: .5;
}

.subscribe-form .submit-btn {
	position: absolute;
	font-size: 16px;
	letter-spacing: 0.7px;
	color: #FFF;
	background: #1abc9c;
	border: none;
	top: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50px;
	width: 150px;
	text-align: center;
	outline: none;
}

.subscribe-form .submit-btn:active {
	opacity: .8;
}



/* Footer */

.footer {
    background: url(../images/bg/pattern-bg.png);
    background-repeat: repeat;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
}

.footer p {
    color: #797878;
    font-size: 13px;
    line-height: 25px;
    padding: 0px 15px;
    letter-spacing: 1px;
}

.footer li a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
}



/* Social Icons */

.social-icon {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon li {
  display: inline-block;
  margin: 2px 4px;
}

.social-icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  border: 0 none;
  border-radius: 50%;
  font-size: 17px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}

.social-icon li a:hover {
   box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}

.facebook {
   background-color: #3b5998;
}

.twitter {
   background-color: #1da1f2;
}

.google-plus {
   background-color: #dd4b39;
}

.instagram {
   background-color: #464545;
}

.linkedin {
   background-color: #0077b5;
}

.pinterest {
   background-color: #bd081c;
}

.youtube {
   background-color: #cd201f;
}

.vimeo {
   background-color: #1ab7ea;
}

.dribbble {
   background-color: #ea4c89;
}

.behance {
   background-color: #1769ff;
}

.flickr {
   background-color: #ff0084;
}

.tumblr {
   background-color: #35465c;
}

.foursquare {
   background-color: #f94877;
}

.github {
   background-color: #333333;
}

.skype {
   background-color: #00aff0;
}



/* Syntax Highlighter */

.syntaxhighlighter {
    overflow: hidden;
}

.syntaxhighlighter .toolbar .item.printSource {
    display: none !important;
}



/* Scroll To Top */

.scroll-to-top {
    display: none;
    font-size: 40px;
    color: #1abc9c;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    color: #333333;
}



/* Responsive */

@media only screen and (min-width: 1279px) {
    .endpage-box{
        left: 195px;
    }
}

@media only screen and (max-width: 1440px) {
    .endpage-box{
        left: 150px;
    }
}


@media only screen and (max-width: 1280px) {
    .endpage-box{
        left: 68px;
    }
}

@media only screen and (max-width: 1199px) {
    .endpage-box {
       display: none !important;
    }
    .about-fixed {
        position: fixed;
        width: 20%;
    }
}

@media only screen and (max-width: 1024px) {
    .about-fixed {
        position: fixed;
        width: 22%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
    #menu .menu-link li {
       margin: 2px 3px;
    }
	
    .my-detail span {
       font-size: 18px;
       font-weight: 600;
    }
	
    .my-detail .my-sub-title {
       font-size: 15px;
       line-height: 29px;
    }
	
    .social-icon li a {
       width: 30px;
       height: 30px;
       line-height: 33px;
       font-size: 13px;
    }
	
    .social-icon li {
       margin: 2px 2px;
    }
	
    .post-quote {
       width: 90%;
    }
	
    .subscribe-form .text-input {
       font-size: 14px;
    }
	
    .subscribe-form .submit-btn {
       font-size: 14px;
       width: 100px;
    }
}


@media only screen and (max-width: 991px) {
	
    .about-fixed {
       position: inherit;
       width: auto;
    }
	
    .post-quote {
       width: 90%;
    }
}



@media only screen and (max-width: 767px) {
     
    .video-tutorial {
       width: 100%;
    }
	
    .custom-pad-1 {
       padding-right: 15px;
    }

    .custom-pad-2 {
       padding-left: 15px;
    }
}


@media only screen and (max-width: 570px) {
	
    .subscribe-form .text-input {
       font-size: 12px;
    }
	
    .subscribe-form .submit-btn {
       font-size: 13px;
       width: 90px;
    }
}


@media only screen and (max-width:479px) {
	
    #main {
       margin: 15px 0;
     }
	
    .sub-title {
       border-bottom: 1px dashed #cccccc;
       padding: 30px;
       display: inline-block;
       text-align: left;
       width: 100%;
     }
}


@media only screen and (max-width:435px) {
	
    b {
       font-weight: 500;
    }
	
    .my-detail span {
       font-size: 18px;
       font-weight: 600;
    }
	
    .my-detail .my-sub-title {
       font-size: 15px;
       line-height: 29px;
    }
	
    .blog-post .post-title h2 {
       font-size: 22px;
       line-height: 32px;
       font-weight: 600;
    }

    .blog-post .post-title h3 {
       font-size: 18px;
       line-height: 28px;
       font-weight: 500;
    }

    .blog-post .post-info {
       font-size: 13px;
       line-height: 29px;
       font-weight: 400;
    }

    .blog-post p {
       font-size: 14px;
       line-height: 28px;
       font-weight: 400;
    }
	
    .sub-title h1 {
       font-size: 20px;
       font-weight: 600;
    }

    .sub-title i {
       font-size: 25px;
       margin-top: 15px;
    }
	
    .blog-post .post-image p {
       font-size: 12px;
    }
	
    .video-box {
       width: 100%;
    }
	
    .video-tutorial .video-popup:after {
       font-size: 30px;
    }
	
    .video-tutorial:hover .video-popup:after {
       font-size: 45px;
    }
	
    .video-box p {
       font-size: 12px;
       line-height: 24px;
    }
	
    .post-quote {
       width: 100%;
    }
	
    .post-quote blockquote {
       padding: 40px 15px;
    }
	
    .list li {
       font-size: 14px;
    }
	
    .about-author .picture {
       float: none;
    }
	
    .about-author .c-padding {
       padding: 30px 0px;
    }
	
    .you-may-also-like h3 {
       font-size: 18px;
       line-height: 28px;
    }
	
    .comment h3 {
       font-size: 18px;
       line-height: 28px;
    }
	
    .social-icon li a {
       width: 30px;
       height: 30px;
       line-height: 32px;
       font-size: 14px;
    }
	
    .load-more-button {
       width: 70px;
       height: 70px;
       line-height: 70px;
       font-size: 12px;
    }
	
    .end {
       width: 70px;
       height: 70px;
       line-height: 70px;
       font-size: 12px;
    }
	
    .button {
       font-size: 13px;
       padding: 10px 0px;
       font-weight: 500;
    }
	
    .button-style:before {
       display: none;
    }
	
    #mc-form {
       padding: 50px 0px;
    }
	
    .subscribe-form .text-input {
       font-size: 11px;
    }
	
    .subscribe-form .submit-btn {
       font-size: 12px;
       width: 80px;
       position: inherit;
       padding: 12px;
       margin-bottom: 5px;
    }
	
    footer .menu-link a {
       margin: 4px 3px;
    }
	
    .scroll-to-top {
       font-size: 25px;
    }
}



/* Useful Classes */


/* Spacing ( with Margin and Padding ) */

/* Margin */

.margin-0 {
	margin: 0px !important;
}

/* Margin Top */

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-120 {
	margin-top: 120px !important;
}

.margin-top-150 {
	margin-top: 150px !important;
}

.margin-top-200 {
	margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-150 {
	margin-bottom: 150px !important;
}

.margin-bottom-200 {
	margin-bottom: 200px !important;
}



/* Padding */

.padding-0 {
	padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}

.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-90 {
	padding-top: 90px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-top-200 {
	padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-80 {
	padding-bottom: 80px !important;
}

.padding-bottom-90 {
	padding-bottom: 90px !important;
}

.padding-bottom-100 {
	padding-bottom: 100px !important;
}

.padding-bottom-120 {
	padding-bottom: 120px !important;
}

.padding-bottom-150 {
	padding-bottom: 150px !important;
}

.padding-bottom-200 {
	padding-bottom: 200px !important;
}



/* Colors */

.color-1 {
	color: #f306a0;
}

.color-2 {
	color: #d60bfb;
}

.color-3 {
	color: #d8be10;
}

.color-4 {
	color: #0fd28a;
}

.color-5 {
	color: #f97400;
}

.color-6 {
	color: #08a6f3;
}



/* Background Color */

.bg-color-1 {
	background-color: #f306a0;
}

.bg-color-2 {
	background-color: #d60bfb;
}

.bg-color-3 {
	background-color: #d8be10;
}

.bg-color-4 {
	background-color: #0fd28a;
}

.bg-color-5 {
	background-color: #f97400;
}

.bg-color-6 {
	background-color: #08a6f3;
}



/* Tooltip Styles */

.tooltip-inner {
    padding: 10px 12px;
    min-width: 150px;
    width: 100%;
}

.tooltip.top {
    margin-top: -2px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.tooltip.bottom {
    margin-top:15px;
    bottom: auto;
    left: auto;
    right: auto;
}

.tooltip.left {
    margin-right: 15px;
}

.tooltip.right {
    margin-left: 15px;
}

.tooltip-color .tooltip-inner {
    color: #fff;
}



/* UiPasta Credit */

.uipasta-credit {
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.uipasta-credit a {
    color: #1abc9c;
    font-weight: 600;
}

.uipasta-credit a:hover {
    color: #333333;
}